---
const {img, name, price, tag, linkSlug} = Astro.props;
---

<section class="cardProd">
    <a href={linkSlug} class="link__image">
        <img src={img} alt={name + " Producto"} class="cardProd__img">
    </a>
    <div>
        <a href={linkSlug}>
            <h3>
                {name}
            </h3>
        </a>
        <a href={linkSlug}>
            {tag}
        </a>
        {price && <p>
            {price}
        </p>}
        <a href={linkSlug} class="cardProd__button">
            Ver más
        </a>
    </div>
</section>

<style>
    .cardProd{
        width: 100%;
        background-color: antiquewhite;
        max-width: 325px;
    }
    .link__image{
        width: 100%;
        height: 200px;
    }
    .cardProd__img{
        width: 100%;
        height: 200px;
        object-fit: contain;
        background-color: white;
    }
    .cardProd__button{
        width: max-content;
        max-width: 150px;
        background-color: var(--black);
        color: var(--white);
        padding: 7px;
        border-radius: 10px;
    }
</style>